
node_modules
http/
prisma/migrations
prisma/seed.ts
.env
.env.*
!.env.example

/generated/prisma

# Arquivos gerados
/dist/
/build/
/coverage/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

